* {
  font-family: 'Montserrat', sans-serif;
}

.admin-panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .user-list {
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 12px;
    }

    
    &::-webkit-scrollbar-thumb {
      background: #333;
      border-radius: 6px;
    }

   
    &::-webkit-scrollbar-track:hover {
      background: #eee;
    }

   
    &::-webkit-scrollbar-thumb:hover {
      background: #aaa;
    }
    
    
    &::-webkit-scrollbar-corner {
      background: #fff;
    }



    .user-info {
      display: flex;
      flex-direction: column; 
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      position: relative;
      .user-details {
        flex: 1;

        p {
          margin: 0;
        }
      }

      button {
        background-color: #ff0000;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;
        width: 130px;
        position: absolute;
        bottom: 5px;
        right: 5px;

        &:hover {
          background-color: #cc0000;
        }
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column; 
}

.addAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminAddForm {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  margin-top: 50px;

  h2 {
    font-size: 24px;
    margin: 0 0 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
  }

  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@media (min-width: 1000px) {
  .wrapper {
    flex-direction: row; 
    justify-content: space-evenly;
  }
  .adminAddForm{
    margin-left: 200px;
    width: 300px;
  }
 
}
