<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
 
 <section class="section3">
  
    <h3>Unlock Your Learning Potential!</h3>
    <div>
      <div>
        <h4>Discover the Perfect Match</h4>
        <p>Find the ideal tutor who can guide you towards success. Let's embark on a journey of knowledge together!</p>
      </div>
  
      <div>
        <h4>Become a Guiding Light</h4>
        <p>Empower others by sharing your expertise. Join us as a tutor and illuminate the path of learning for aspiring minds!</p>
      </div>
    </div>
  
  </section>
  
  
  <section class="section2">
    <img src="../../../../assets/starting-page-assets/infopic.png" alt="Vibrant Classroom">
    <h4>EXPLORE TUTORING OPPORTUNITIES</h4>
    <p>At Stutor, we're here to support your learning journey. Whether you're looking for the perfect tutor to guide you or you're passionate about sharing your knowledge, we've got you covered.</p>
  </section>


  
  
<section  class="section1">
    <h3>HOW IT WORKS</h3>
    <div>
      <div>
        <img src="../../../../assets/starting-page-assets/first.png" alt="Tutor Search">
        <h4>Discover Your Ideal Tutor</h4>
        <p>Search and compare online & local tutors by subject and level to find the perfect match.</p>
      </div>
  
      <div>
        <img src="../../../../assets/starting-page-assets/second.png" alt="Tutor Qualifications">
        <h4>Explore Tutors' Qualifications</h4>
        <p>Explore tutors' qualifications, informations about them and expertise to make an ideal choice.</p>
      </div>
  
      <div>
        <img src="../../../../assets/starting-page-assets/third.png" alt="Become a Tutor">
        <br>
        <h4>Inspire as a Tutor</h4>
        <p>Share your knowledge and passion by becoming a tutor. Reach eager learners through our platform.</p>
      </div>
  
      <div>
        <img src="../../../../assets/starting-page-assets/fourth.png" alt="Tutor Selection">
        <h4>Elevate Learning Journeys</h4>
        <p>Select your perfect tutor, whether you're seeking one or aspiring to become one.</p>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="../../../../assets/nav-bar-assets/main.png" alt="Stutor Logo">
      </div>
      <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="footer-info">
        <p>&copy; 2023 Stutor. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
