$primary-color: #0090de;
$button-color: royalblue;

*{
  font-family: 'Montserrat', sans-serif;
}

.main-section {
    display: flex;
    justify-content: center;
    text-align: center;

    .post-form {
        
        padding: 20px;
        margin: 20px;
        width: 65%;
        display: flex;
        width: 90%;
        justify-content: space-between;
        gap: 75px;
        
        .input-area {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;

            .button-container {
              display: flex;
              margin-top: 65px;
              width: 100%;
              
              justify-content: flex-end;
                .search-button {
                  width: 133px;
                  height: 43px;
                  border-radius: 48px;
                  border: 1px solid #333;
                  color: #333;
                  font-family: Nunito;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  cursor: pointer;
                }
            }
        }
    }
    .posts{
      height: 500px;
      
      p {
        color: #000;
        font-family: Nunito;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        margin-left: 15px;
        margin-bottom: 40px;
      }
    
      .post-container {
        
        border-radius: 5px;
        padding: 10px;
        overflow-y: auto; 
        max-height: 450px;
        scrollbar-width: thin;
        scrollbar-color: #333 black;

        &::-webkit-scrollbar {
          width: 10px; /* Set the width of the scrollbar */
        }

        &::-webkit-scrollbar-thumb {
          background-color: #333; /* Color of the thumb */
          border-radius: 5px; /* Rounded corners for the thumb */
        }

        &::-webkit-scrollbar-track {
          background-color: black; /* Color of the track */
        }
      }
    }
}

.post-button {
  width: 133px;
  height: 43px;
  border-radius: 48px;
  background-color: #333;
  color: #FFF;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  margin-left: 25px;
}




.advertisement{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin-top: 40px;
    border: 2px solid;
    border-radius: 21px;
    height: 684px;
    p{
      font-size: 17px;
      font-weight: 700;
    }
}

.single-post {
  border-radius: 31px;
  background: #FFF;
  box-shadow: 10px 15px 25px 0px rgba(0, 0, 0, 0.25);
  width: calc(50% - 10px); 
  margin-bottom: 10px; 
  display: inline-block;
  height: 150px;
  margin-right: 15px;
  position: relative;
  padding-top: 5px;
  &:nth-child(even) {
    margin-right: 0; 
  }
}


.chat-button {
  font-family: inherit;
  font-size: 16px;
  background-color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #000;
  transition: all 0.3s;
  cursor: pointer;
  position: absolute;
  right: 15px;
  height: 40px;
  width: 150px;
  bottom: 7px;
}


.userPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999; 
  form{
    display: flex;
    margin-right: 30px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  label {
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    background: #08c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 45px;
    margin-left: 15px;
    border-radius: 17px;

    &:hover {
      background: #0077b3;
    }
  }

  .closeButton{
    margin-top: 17px;
    background-color: red;
    &:hover {
      background: lightcoral;
    }
  }
}
.form-container{
  width: 50%;
  height: 780px;
  border-radius: 25px;
  background-color: #F8F8F8;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
  select{
    width: 269px;
    height: 43px;
    border-radius: 7px;
    border: 2px solid #000;
    background: #FFF;
    margin-bottom: 40px;
   
  }
}

.single-input{
  display: flex;
  flex-direction: column;
  margin-right: 50px;

}

.one-row-of-inputs{
  display: flex;
  flex-direction: row;
}

.textAreaWrapper{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 63px;
  textarea{
    width: 578px;
    height: 146px;
    border-radius: 7px;
    border: 2px solid #000;
    background: #FFF;
    padding: 8px;
    resize: none;
  }
}

.label-icon{
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.form-header{
  color: #000;

font-family: Nunito;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 65px;
}

.dispCont{
  padding-top: 15px;
}